.select2-selection--single {
	background-color: #fff;
	height: 60px;

	.select2-selection__rendered {
		color: $base-text-color;
		line-height: inherit;
		display: inline-block;
		padding: 16px 0;
	}

	.select2-selection__clear {
		cursor: pointer;
		float: right;
		font-weight: bold;
	}

	.select2-selection__placeholder {
		color: $base-text-color;
	}

	.select2-selection__arrow {
		position: relative;
		display: inline-block;
		height: 100%;
		width: $gutter;
		top: 0px;
		left: $gutter;
		b {
			position: absolute;
			top: 27px;
			left: 0;
			margin-top: 0;
			margin-left: 0;
			width: 0;
			height: 0;
			border-width: 7px 4px 0 4px;
			border-style: solid;
			border-color: $base-text-color transparent transparent transparent;
		}
	}
}

&:hover {
	.select2-selection {
		.select2-selection__rendered {
			color: $btn-icon-bg;
		}
		.select2-selection__arrow {
			b {
				border-top-color: $btn-icon-bg;
			}
		}
	}
}
&.select2-container--open,
&.select2-container--open:hover {
	.select2-selection {
		background: $btn-icon-bg;
		.select2-selection__rendered {
			padding-left: 20px;
			color: #fff;
		}
		.select2-selection__arrow {
			b {
				border-top-color: #fff;
			}
		}
	}
}