// breadcrumbs
.breadcrumbs {
	margin: 1.5*$gutter 0;
	@media #{$medium-and-up}{
		margin-top: 4*$gutter;
	}
	@media #{$large-and-up}{
		margin-top: 5*$gutter;
	}
	.breadcrumbs-item {
		display: inline-block;
		&:not(:last-of-type):after {
			content: ' / ';
		}
	}
	.breadcrumbs-link {
		font-size: 15px;
		line-height: 20px;
		color: $base-text-color;
		&:hover {
			color: $secondary-color;
		}
	}
}