// carousel
.carousel {
	.carousel-content {
		overflow: hidden;
		z-index: 2;
		&:not(.s-full-width){
			width: 100%;
		}
		@media #{$medium-and-up}{
			&:not(.m-full-width){
				width: 100%;
			}
		}
		@media #{$large-and-up}{
			&:not(.l-full-width){
				width: 100%;
			}
		}
	}
	.carousel-inner {
		width: 9999px;
		&:after {
			@extend .row:after;
		}
	}
	.item {
		@extend .left;
	}
	.carousel-pagination {
		@extend ul.nostyle;
		position: absolute;
		width: 100%;
		height: 12px;
		bottom: 2*$gutter;
		text-align: center;
		z-index: 2;
		.nav-item {
			display: inline-block;
			margin: 0 $gutter;
		}
		.nav-link {
			@extend .circle;
			display: block;
			width: 12px;
			height: 12px;
			background: #f3f3f3;
			&:hover,
			&.active {
				background: $primary-color;
			}
		}
	}
	.carousel-controlls {
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 60px;
		top: 5*$gutter;
		left: 0;
		overflow: hidden;
		.prev,
		.next {
			position: absolute;
			z-index: 3;
			display: block;
			width: 60px;
			height: 60px;
			top: 0;
			background: rgba(255,255,255,.5);
			border: 0;
			padding: 1.5*$gutter;
			.icon {
				fill: $primary-color;
				width: 30px;
				height: 30px;
			}
			&:hover .icon {
				fill: $secondary-color;
			}
		}
		.prev {
			left: 0px;
		}
		.next {
			right: 0px;
			.icon {
				transform: rotate(180deg);
			}
		}
		@media #{$medium-and-up} {
			top: 15*$gutter;
		}
		@media only screen and (min-width: 1280px){
			width: 1280px;
			left: calc((100% - 1280px)/2);
			.prev,
			.next {
				background: none;
			}
		}
	}
}
.home-slider {
	margin-top: 0;
	.item {
		height: 30*$gutter;
		width: 100vw;
		max-width: 1170px;
		@media #{$medium-and-up}{
			height: 63*$gutter;
		}
	}
	.item-img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
	}
	.item-title {
		margin: 0;
		padding: 0 2*$gutter;
		position: absolute;
		top: 8*$gutter;
		left: 0;
		font-size: 30px;
		line-height: 40px;
		color: #fff;
		@media #{$medium-and-up}{
			top: 19*$gutter;
			font-size: 50px;
			line-height: 60px;
		}
		@media #{$large-and-up}{
			margin-left: 6%;
		}
	}
}