// contact-page
.contact-page {
	
	@media #{$large-and-up}{
		margin-bottom: 20*$gutter;
	}
	.page-title {
		margin-bottom: 2.5*$gutter;
	}
	.block-title {
		margin-bottom: 3.5*$gutter;
		
		@media #{$medium-and-up}{
			margin-bottom: 4.5*$gutter;
		}
		@media #{$large-and-up}{
			margin-top: 1.5*$gutter;
		}
	}
	.select-box .type-2 + .triangle {
		right: 0;
	}
	@media #{$medium-and-up}{
		.select-box,
		.dropdown-box {
			display: inline-block;
			width: auto;
			min-width: 180px;
			max-width: 50%;
		}
		.dropdown-value {
			padding: $gutter 3*$gutter $gutter 0;
		}
	}
	.map-box {
		height: 210px;
		margin-bottom: $gutter;
		.map {
			height: 210px;
		}
		
		@media #{$medium-and-up}{
			height: 380px;
			margin-bottom: 2*$gutter;
			.map {
				height: 380px;
			}
		}
		@media #{$large-and-up}{
			height: 440px;
			margin-top: 2*$gutter;
			.map {
				height: 440px;
			}
		}
	}
	.item {
		*:first-child {
			margin-top: 0;
		}
		p {
			line-height: 40px;
		}
		
		@media #{$medium-only}{
			&:nth-child(odd){
				padding-right: 3*$gutter;
			}
			&:nth-child(even){
				padding-left: 3*$gutter;
			}
		}
		@media #{$medium-and-up}{
			margin-bottom: 4*$gutter;
			p {
				line-height: 28px;
			}
		}
		@media #{$large-and-up}{
			.item-title ~ p {
				margin-top: $gutter;
			}
		}
	}
	.logos {
		@media #{$medium-and-up}{
			margin-bottom: 2*$gutter;
		}
		@media #{$large-and-up}{
			margin-bottom: 2.5*$gutter;
		}
	}
}