// filter
.filter {
	margin: 3*$gutter 0;
	@media #{$large-and-up}{
		margin: 2.3*$gutter 0 3*$gutter;
	}
	.field-box {
		margin-bottom: 3*$gutter;
		@media #{$large-and-up}{
			margin-bottom: 0;
		}
	}
	.search-box {
		.search {
			height: 2.53em;
			border: 1px solid #e1e1e1;
			padding: 0.7em 1.5*$gutter;
		}
		.btn-search {
			top: 0.8em;
			right: 2.5*$gutter;
			.icon {
				fill: #9d9d9d;
			}
			@media #{$large-and-up}{
				right: $gutter*3;
			}
		}
		.search:hover,
		.search:focus {
			border-color: $btn-icon-bg;
			& + .btn-search .icon {
				fill: $btn-icon-bg;
			}
		}
	}
	select,
	select:focus {
		font-size: 15px;
		line-height: 39px;
		height: 2.67em;
		padding: 0 2em 0 1.5*$gutter;
		margin: 0;
	}
	select.type-3:focus {
		bprder-color: $primary-color;
	}
}