// forms 

// inputtext,
// textarea
.field-box {
	margin-bottom: 2.5*$gutter;
	label {
		font-size: 15px;
		line-height: 20px;
	}
}
input:focus {
	outline: none;
}
.inputtext {
	display: block;
	width: 100%;
	height: 41px;
	font-size: 15px;
	line-height: 39px;
	vertical-align: middle;
	padding: 0 1.5*$gutter;
	border: 1px solid #e1e1e1;
	margin: 0.5*$gutter 0 0.7*$gutter;
	&:focus {
		outline: none;
	}
}
textarea.inputtext {
	line-height: 20px;
	max-width: 100%;
	height: auto;
	min-height: 9*$gutter;
	padding: 0.5*$gutter 1.5*$gutter;
}

// checkbox 
input[type="checkbox"] {
	display: none;
	& + label {
		position: relative;
		padding-left: 3.5*$gutter;
		vertical-align: middle;
		display: block;
		margin: 0.5*$gutter 0 0.7*$gutter;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background: #fff;
			width: 21px;
			height: 21px;
			border: 1px solid #e1e1e1;
			vertical-align: middle;
		}
	}
	&:checked + label:before {
		background: url('images/tick.png') center no-repeat;
	}
}

// radio
input[type="radio"] {
	display: none;
	& + .radiolabel {
		position: relative;
		padding-left: 3*$gutter;
		vertical-align: middle;
		display: block;
		margin: 0.5*$gutter 0 0.7*$gutter;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-color: #fff;
			width: 21px;
			height: 21px;
			border: 1px solid $base-text-color;
			vertical-align: middle;
			padding: 5px;
			border-radius: 50%;
			background-clip: content-box;
		}
	}
	&:checked + .radiolabel:before {
		background-color: $base-text-color;
	}
}

// error
.required-mark {
	color: $error-color;
	font-size: 1em;
	top: -0.2em;
}
[class*='invalid']{
	border-color: $error-color;
	&.invalid-required ~ .error-text {
		//opacity: 1;
		display: block;
	}
	&.invalid-pattern ~ .pattern-error-text {
		//opacity: 1;
		display: block;
	}
	&.invalid-file ~ .note-text {
		color: $error-color;
	}
}
.error-text,
.pattern-error-text {
	color: $error-color;
	font-size: 14px;
	line-height: 1em;
	//height: 1em;
	//opacity: 0;
	//transition: opacity .1s;
	display: none;
}


//select
select {
	width: 100%;
	vertical-align: middle;
	height: 2.67em;
	padding: 0 2em 0 1.5*$gutter;
	option {
		max-width: 100%;
		color: $base-text-color;
	}
}
select.type-2 {
	padding: 0 2em $gutter 0;
	border-bottom: 1px solid #eeeeee;
}
select.type-3,
select.type-3:focus {
	@extend .inputtext;
	& + .triangle {
		right: 1px;
	}
}
select + .triangle {
	position: absolute;
	top: 1px;
	right: 11px;
	width: 30px;
	height: 2.5em;
	background: #fff;
	font-size: 15px;
	@media #{$medium-and-up}{
		right: 16px;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 17px;
		right: 17px;
		width: 0;
		height: 0;
		border-top: 7px solid $base-text-color;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}
}
select:hover,
select:focus {
	color: $btn-icon-bg;
	border-color: $btn-icon-bg;
	outline: none;
	& + .triangle:after {
		border-top-color: $btn-icon-bg;
	}
}
.dropdown-select-box {
	width: auto;
	display: inline-block;
}
.dropdown-select {
	display: inline-block;
	padding-right: 30px;
	border: 0;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	& + .triangle {
		right: 0;
		top: 3px;
	}
}

// inputfile
.inputfile-box {
	input[type="file"]{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
	}
	.inputfile {
		display: inline-block;
		margin-bottom: $gutter;
		font-size: 15px;
		line-height: 39px;
		vertical-align: middle;
		max-width: 100%;
		@media #{$medium-and-up}{
			width: 100%;
		}
		@media #{$large-and-up}{
			max-width: calc(100% - 430px);
			width: auto;
			margin-bottom: 0;
			margin-right: 2.5*$gutter;
		}
	}
	.inputfile-value {
		display: none;
		height: 100%;
		background: #e1e1e1;
		padding: 0 4.5*$gutter 0 3*$gutter;
		margin-bottom: $gutter;
		vertical-align: middle;
		min-width: 200px;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		&.shown {
			display: block;
			@media #{$large-and-up}{
				display: inline-block;
				max-width: calc(100% - 210px);
				min-width: 0;
				margin-bottom: 0;
				margin-right: 2.5*$gutter;
			}
		}
	}
	.btn-delete {
		position: absolute;
		top: 13px;
		right: 13px;
		width: 15px;
		height: 15px;
		background: url('images/delete.png') center no-repeat;
		cursor: pointer;
		z-index: 3;
	}
	.btn-inputfile {
		display: inline-block;
		border: 1px solid $base-text-color;
		padding: 0 3*$gutter;
		vertical-align: middle;
		width: 180px;
	}
	.note-text {
		display: block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 18px;
		@media only screen and (min-width: 711px){
			position: absolute;
			right: 0;
			bottom: 0;
			max-width: calc(100% - 210px);
		}
		@media #{$large-and-up}{
			display: inline-block;
			max-width: 400px;
			position: relative;
			top: 0;
			left: 0;
		}
	}
}

// captcha
.captcha-box {
	.captcha, 
	.inputtext,
	label {
		display: block;
		vertical-align: middle;
		@media #{$large-and-up}{
			display: inline-block;
		}
	}
	.captcha {
		width: 135px;
		height: 41px;
		border: 1px solid #e1e1e1;
		margin: 0.5*$gutter 0 0.7*$gutter;
		@media only screen and (min-width: 740px){
			margin-right: 3*$gutter;
			float: left;
		}
		@media #{$large-and-up}{
			margin: 0;
		}
	}
	.inputtext {
		width: 100%;
		margin: 0.5*$gutter 0 0.7*$gutter;
		@media only screen and (min-width: 740px){
			width: calc(100% - 165px);
		}
		@media #{$large-and-up}{
			width: 270px;
			margin: 0 3*$gutter;
		}
	}
	@media only screen and (min-width: 740px){
		margin-top: 1.5*$gutter;
		label {
			position: absolute;
			top: -2*$gutter;
			left: 175px;
		}
		.error-text {
			margin: 0.5*$gutter 0 0 165px;
		}
	}
	@media #{$large-and-up}{
		margin-top: 0;
		label {
			top: 0;
			left: 480px;
			line-height: 39px;
		}
	}
}

.add-project-page {
	@media #{$medium-and-up}{
		.form-block {
			padding: 0 20%;
		}
	}
	@media #{$large-and-up}{
		.page-title {
			margin-bottom: 3.5*$gutter;
		}
		.block-title:first-of-type {
			margin-top: 0;
		}
		.form-block {
			padding: 0 11.5%;
		}
	}
	.dropdown-box .dropdown-value {
		@extend .inputtext;
		.item-text {
			line-height: inherit;
		}
	}
	.btn-submit {
		margin-top: 2*$gutter;
	}
}