@charset "UTF-8";


//Default styles

html {
	box-sizing: border-box;
	color: $base-text-color;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	// display: flex;
	// min-height: 100vh;
	// flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: #fff;
}
.layout {
	display: flex;
	overflow: hidden;
	align-items: stretch;
	min-height: 100%;
}
.page {
	min-height: 100%;
}
.workarea {
	min-height: calc(96vh - 330px);
	opacity: 1;
	transform: translate(0,0);
	transition: opacity .5s cubic-bezier(0.55, 0.06, 0.68, 0.19), transform .5s linear;
	@media #{$medium-and-up}{
		min-height: calc(96vh - 680px);
	}
	@media #{$large-and-up}{
		min-height: calc(96vh - 610px);
	}
}

ul {
	list-style-type: none;
}

a {
	color: $primary-color;
	text-decoration: none;
	
	&:hover {
		color: $secondary-color;
	}
	&.nostyle,
	&.nostyle:hover {
		color: inherit;
	}
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}
.title-link {
	color: inherit;
	&:hover {
		color: $primary-color;
	}
}
.img-link {
	display: block;
	height: 100%;
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background: transparent;
		transition: background .2s;
	}
	&:hover:after {
		background: rgba(0,0,0,.2);
	}
}
a.file {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	vertical-align: middle;
	min-height: 50px;
	padding-left: 45px;
	line-height: 25px;
	margin-bottom: 2*$gutter;
	color: $base-text-color;
	&[href$=".doc"],
	&[href$=".docx"] {
		background: url('images/doc.svg') top 5px left no-repeat;
	}
	&[href$=".pdf"] {
		background: url('images/pdf.svg') top 5px left no-repeat;
	}
	&[href$=".xls"],
	&[href$=".xlsx"]{
		background: url('images/xls.svg') top 5px left no-repeat;
	}
	&[href$=".ppt"],
	&[href$=".pptx"] {
		background: url('images/ppt.svg') top 5px left no-repeat;
	}
}


ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}
ul.nostyle,
ol.nostyle {
	padding: 0;
	margin: 0;
	li {
		list-style-type: none;
	}
}

// classic clearfix
.clearfix {
	clear: both;
	&:before,
	&:after {
		@extend .row:after;
	}
}

// loader
.loader,
.btn.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(199, 33, 58, 0.2);
  border-right: 0.5em solid rgba(199, 33, 58, 0.2);
  border-bottom: 0.5em solid rgba(199, 33, 58, 0.2);
  border-left: 0.5em solid $secondary-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.btn.loader {
	transition: all .3s;
}
.loader,
.btn.loader,
.loader:after,
.btn.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// map
.map-box {
	overflow: hidden;
	margin-top: 3*$gutter;
	margin-bottom: 3*$gutter;
	.map {
		height: 760px;
	}
	.loader {
		position: absolute;
		top: 20%;
		left: calc(50% - 32px);
		margin: 0;
	}
}

// Dividers

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e1e1e1;;
}


//  Blockquote

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid $primary-color;
}

// Images
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

// Parallax
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    transform: translateX(-50%);
  }
}

// Pushpin
.pin-top, .pin-bottom {
  position: relative;
}
.pinned {
  position: fixed !important;
}

/*********************
  Transition Classes
**********************/

ul.staggered-list li {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transform-origin: 0 50%;
}
.layout:not(.noanim) {
	opacity: 0;
}
.layut.noanim {
	opacity: 1;
}
.layout.animation {
	opacity: 1;
	transition: opacity .2s .5s;
	.first-line,
	.second-line,
	.third-line,
	.fourth-line,
	.trans-line {
		opacity: 0;
		transform: translate(0,50px);
		&.anim {
			opacity: 1;
			transform: translate(0,0);
			transition: all 0.7s ease;
		}
	}
}


// Responsive Videos
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    &.no-controls {
      padding-top: 0;
    }

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}


/*******************
  Utility Classes
*******************/

.hide {
  display: none !important;
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

// No Text Select
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}

.triangle {
	position: absolute;
	width: 30px;
	height: 2.5em;
	background: #fff;
	font-size: 15px;
	top: 0;
	right: 0;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 17px;
		right: 17px;
		width: 0;
		height: 0;
		border-top: 7px solid #434343;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}
}
