// header
.header {
	border: 1px solid #ededed;
	padding: $gutter*1.5 $gutter*2;
	font-size: 20px;
	.phone-box {
		position: absolute;
		right: 0;
		top: 2px;
		text-align: right;
	}
	.phone {
		color: $base-text-color;
	}
	.btn-menu {
		width: 1.5rem;
		height: 1.5rem;
		vertical-align: middle;
	}
	
	@media #{$medium-and-up}{
		border-width: 0 0 1px 0;
		padding: 0;
		.header-content {
			border-bottom: 1px solid #ededed;
			padding: $gutter 0;
		}
		.phone-box {
			position: relative;
			right: auto;
			top: auto;
			padding-top: $gutter*3;
		}
		.btns-box {
			text-align: right;
			padding-top: $gutter*2;
			.btn-icon {
				margin-left: 5%;
			}
		}
		.header-menu {
			padding: 0 $gutter;
		}
		.search-box {
			width: calc(100% - 50px);
			float: right;
			padding: $gutter*1.5;
		}
		.btn-menu {
			float: left;
			margin-top: $gutter*1.5;
		}
	}
	@media #{$medium-and-up} and (max-width: 752px) {
		.logo-box {
			width: 16.66667%;
		}
		.phone-box.col {
			width: 33.33333%;
			padding-top: $gutter*3;
		}
		.btns-box {
			//@extend .m6;
			width: 50%;
			padding-top: $gutter*2;
		}
	}
	@media only screen and (min-width: 753px){
		.logo-box {
			width: 33.33333%;
		}
		.phone-box.col {
			width: 25%;
			max-width: calc(66.66667% - 300px);
		}
		.btns-box {
			width: 41.66667%;
			min-width: 300px;
			float: right;
			.btn-icon {
				margin-left: 25px;
			}
		}
	}
	@media #{$large-and-up}{
		.phone-box.col {
			width: 50%;
			max-width: calc(75% - 310px);
		}
		.btns-box {
			min-width: 310px;
		}
		.main-menu-box {
			width: 820px;
			height: 58px;
			float: left;
		}
		.search-box {
			width: calc(100% - 820px);
		}
	}
}