// news-page
.news-page {
	.filter {
		margin-bottom: 0;
		.news-select {
			padding-left: 0;
			padding-bottom: $gutter;
			border-width: 0 0 1px 0;
			line-height: 2em;
		}
		.triangle:after {
			top: 12px;
		}
		.tabs-list .tab-title {
			margin-right: 3.5*$gutter;
		}
	}
}
.news-list {
	margin-bottom: 1.5*$gutter;
	margin-top: 4*$gutter;
	
	@media #{$medium-and-up}{
		margin-bottom: 4*$gutter;
	}
}
.news-page,
.news-block {
	.news-item {
		margin-bottom: 1.5*$gutter;
		.item-title {
			font-size: 26px;
			line-height: 30px;
			margin: $gutter 0 1.5*$gutter;
			a {
				@extend .title-link;
			}
		}
		.item-date {
			display: inline-block;
			margin-bottom: 2*$gutter;
		}
		.item-img {
			overflow: hidden;
			margin-bottom: $gutter;
			
			a {
				@extend .img-link;
			}
			
			@media #{$medium-and-up}{
				max-height: 280px;
				margin-bottom: 2*$gutter;
			
				img {
					display: block;
					min-width: 100%;
					max-width: 200%;
					height: auto;
				}
			}
		}
		&:hover {
			.item-img a:after {
				@extend .img-link:hover:after;
			}
			.item-title a {
				@extend .title-link:hover;
			}
		}
	}
}
.news-page .filter + .news-list {
margin-top: $gutter;
}
.news-single {
	margin-bottom: 3*$gutter;
	@media #{$large-and-up}{
		margin-bottom: 7*$gutter;
	}
	.item-title {
		margin-bottom: 2*$gutter;
	}
	.share-box {
		margin: 3*$gutter 0;
		.like_button {
			margin-right: 3*$gutter;
			&:last-of-type {
				margin-right: 0;
			}
		}
		@media #{$medium-and-up}{
			margin-top: 0.5*$gutter;
			.social_sharing {
				text-align: right;
			}
		}
	}
	.item-date {
		@media #{$medium-and-up}{
			display: inline-block;
			margin-top: 0.5*$gutter;
		}
	}
	.item-text {
		margin: 3*$gutter 0 4*$gutter;
		@media #{$large-and-up}{
			padding: 0 11%; 
			margin-bottom: 3*$gutter;
		}
	}
	.item-files {
		@media #{$large-and-up}{
			padding: 0 11%; 
		}
	}
	& + .nav-links .btn,
	& + .nav-links .btn:only-child{
		margin: $gutter auto;
		display: block;
		font-size: 15px;
	}
	@media #{$medium-and-up}{
		& + .nav-links .col .btn {
			display: inline-block;
		}
		& + .nav-links .col:first-of-type {
			text-align: right;
		}
		& + .nav-links .col:last-of-type {
			text-align: left;
		}
	}
}

.news-block {
	@media #{$large-and-up}{
		display: flex;
		align-items: stretch;
		margin-bottom: 14*$gutter;
	}
	.tab-header {
		margin-bottom: 2.5*$gutter;
		@media #{$medium-and-up}{
			margin-bottom: 4*$gutter;
			.tabs-list:after {
				bottom: -1px;
			}
			.tab-item {
				margin-bottom: 0;
			}
			.tab-title {
				margin-right: 6*$gutter;
				font-size: 20px;
				line-height: 30px;
			}
			.tab-item:last-of-type .tab-title {
				margin-right: 0;
			}
		}
	}
	.news,
	.events {
		margin-bottom: 3*$gutter;
		@media #{$medium-and-up}{
			margin-bottom: 6*$gutter;
		}
		@media #{$large-and-up}{
			margin-bottom: 0;
			padding-bottom: 2*$gutter;
			.readmore {
				position: absolute;
				bottom: 0;
			}
		}
	}
	.news-item {
		.item-img img{
			display: block;
		}
		@media #{$medium-and-up}{
			.item-img {
				height: auto;
				max-height: 100%;
			}
		}
		.item-title {
			margin: 2*$gutter 0;
			@media #{$medium-and-up}{
				margin: 3*$gutter 0;
			}
		}
	}
	.events-list {
		margin-bottom: $gutter;
		@media #{$large-and-up}{
			margin-bottom: 0;
		}
	}
	.events-list .item {
		padding: $gutter 0 2*$gutter;
		border-bottom: 1px solid #eeeeee;
		a {
			@extend .title-link;
		}
		.item-title {
			font-size: 18px;
			line-height: 20px;
		}
		.item-date {
			display: inline-block;
			font-size: 14px;
			line-height: 1;
			margin-top: 1.5*$gutter;
		}
		&:last-of-type {
			border-bottom: 0;
		}
		@media #{$large-and-up}{
			&:first-of-type {
				padding-top: 0;
			}
		}
	}
}