// search
.search-box {
	overflow: hidden;
	font-size: 17px;
	.btn-search {
		position: absolute;
		top: 22px;
		right: $gutter * -0.5;
		cursor: pointer;
		background: #fff;
		width: calc(1em + #{$gutter*2});
		padding-right: $gutter*2;
		z-index: 2;
	}
	.search {
		width: 100%;
		border: 0;
		line-height: 1.3;
		height: 1.3em;
		vertical-align: middle;
		left: 100%;
		transition: left .5s;
		cursor: default;
		vertical-align: baseline;
	}
	.placeholder{
		position: absolute;
		line-height: 1.3;
		top: $gutter*1.7;
		left: 100%;
		transition: all .3s;
		color: $primary-color;
		opacity: 0;
	}
	.search:focus {
		left: 0;
		outline: none;
		cursor: auto;
		&:not(.dirty) ~ .placeholder {
			left: $gutter*1.5;
			opacity: 0.5;
		}
	}
}