a {
  text-decoration: none;
}

html{
	line-height: 1.5;
	font-size: 18px;
	font-family: segoeui, sans-serif;
	font-weight: 300;
	color: $base-text-color;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: bolder; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }
.big {
	font-size: 20px;
	line-height: 28px;
}
.page-title {
	margin: 3*$gutter 0 3.5*$gutter;
	font-size: 30px;
	line-height: 35px;
	color: $base-text-color;
	@media #{$medium-and-up}{
		font-size: 40px;
		line-height: 50px;
	}
	@media #{$large-and-up}{
		margin: 4*$gutter 0 $gutter;
	}
}
.block-title {
	font-size: 26px;
	line-height: 28px;
	margin: 3*$gutter auto;
	@media #{$medium-and-up}{
		margin-top: 4*$gutter;
	}
}