a {
	text-decoration: none;
	word-wrap: break-word;
}

html{
	line-height: 1.5;
	font-size: 18px;
	font-family: segoeui, sans-serif;
	font-weight: 300;
	color: $base-text-color;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: bolder; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }
.big {
	font-size: 20px;
	line-height: 28px;
}
.x-big {
	font-size: 26px;
}
.xx-big {
	font-size: 36px;
}
.large {
	font-size: 40px;
}
.x-large {
	font-size: 50px;
	line-height: 1;
	margin: 3*$gutter 0 2.5*$gutter;
}
.page-title {
	margin: 3*$gutter 0 3.5*$gutter;
	font-size: 30px;
	line-height: 35px;
	color: $base-text-color;
	@media #{$medium-and-up}{
		font-size: 40px;
		line-height: 50px;
	}
	@media #{$large-and-up}{
		margin: 4*$gutter 0 $gutter;
	}
}
.block-title {
	font-size: 26px;
	line-height: 28px;
	margin: 3*$gutter auto;
	@media #{$medium-and-up}{
		margin-top: 4*$gutter;
	}
}
.light-text {
	color: $light-text-color;
}
h2 {
	font-size: 26px;
	line-height: 28px;
	margin: 2*$gutter 0 3*$gutter;
}
.rouble {
	font-family: rouble;
}

ol:not(.nostyle){
	margin: $gutter 0 2*$gutter;
	padding: 0;
	list-style: none;
	counter-reset: item;
	li {
		margin: $gutter 0;
		padding: 0;
		&:before {
			display: inline;
			counter-increment: item;
			content: counter(item)') ';
		}
		@media #{$medium-and-up}{
			margin: 2*$gutter 0;
		}
	}
}